/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Acme", sans-serif !important;
  /* background-color: #34495e; */
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar:hover {
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  /* background-color: #487eb0; */
  background-color: #39518d;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  /* background-color: #487eb0; */
}

::-webkit-scrollbar-corner {
  /* background-color: #39518d; */
}

/* .font__family {
  font-family: "Acme", sans-serif !important;
} */

input[type="text"]:not(#f_login):not(#f_pwd) {
  color: white;
  border: white;
}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input:focus {
  color: white;
}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input:invalid {
  color: white;
}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
  font-family: "Acme", sans-serif !important;
}