/* .login_container {
  border: 6px solid blue;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
} */

.glass_container {
  padding: 50px;
  /* margin-top: 220px; */
  background: rgba(255, 255, 255, 0.082);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  box-shadow: 14px 18px 34px -14px rgba(0, 0, 0, 0.411);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  font-family: "Acme", sans-serif !important;
}

#register-form > input[type="text"],
#register-form > input[type="password"] {
  width: 95%;
  padding: 8px;
  border: 0px solid #ccc;
  border-radius: 4px;
  color: #fff !important;
  font-family: "Acme", sans-serif !important;
}

button {
  /* background-color: #4caf50; */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Acme", sans-serif !important;
}

/* button:hover {
    background-color: #45a049;
  } */
